<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="w-full min-h-[500px] flex flex-col items-center justify-center px-8 rounded-lg mt-[-90px]">
        <div class="w-full text-center">
            <!-- ไอคอน Check -->
            <div class="flex items-center justify-center w-30 h-30 mx-auto mb-4 border-4 border-blue-500 rounded-full">
                <svg class="w-20 h-20 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
            </div>

            <!-- ข้อความยืนยัน -->
            <h2 class="text-4xl font-bold text-blue-700">ขอบคุณ <%= @order.name %></h2>
            <p class="text-2xl text-gray-600 mt-4 mb-10">สำหรับคำสั่งซื้อ</p>

            <!-- ปุ่มกลับสู่หน้าแรก -->
            <%= link_to "กลับสู่หน้าหลัก", products_path, class: "text-xl block mx-auto mt-8 w-43 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition text-center text-lg" %>
        </div>
    </div>
</body>
